@media(min-width: 1100px){
	a {
		font-size: 30px;
	}


	h1 {
		margin-left: 200px;
	}


	.logo-2 {
		left: 700px;
	}


	.logo-3 {
		left: 150px;
	}


	.bottom {
		margin-left: 300px;
	}


	.logo-4 {
		width: 600px;
	}
}